<!DOCTYPE html>
<html lang="pt-br" class="cabecalho">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<title>Cadastro de Equipamentos</title>
</head>
<header class="clearfix col-md-10" >
	<img class="mt-2" src="imagens/btz reduzida.png">
	<button class="btn btn-primary ml-4">Novo</button>
	<button class="btn btn-primary ml-4">Editar</button>
	<button class="btn btn-primary ml-4">Excluir</button>
	<button class="btn btn-primary ml-4">Pesquisar</button>
	<label class="col-3 float-right mt-4">Usuário</label>
</header>
<br>
<body class="clearfix col-md-12"  >
	<div class="row mr-1 ">
		<div class="column col-md-2" >
			<label>Código</label><br>
			<input type="text" id="txt_numeral">		
		</div>
		<div class="column col-md-9" >
			<label>Equipamento</label><br>
			<input class="col-8" type="text" id="txt_numeral">		
		</div>
	</div>
	<br>
	<br>
	<div class="clearfix col-md-8">
		<button class="btn btn-primary align-self-left">Salvar</button>
		<button class="btn btn-primary float-right">Sair</button>

	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>