<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>

	<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link " href="/"> <i
					class="oi oi-home"> Home</i> 
			</a></li>
		</ul>


		 <ul class="nav nav-pills "> 
			<li class="active active col-md-7">
                <a href="#administrativo" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link active ">Administrativo</a>
                <ul class="collapse list-unstyled" id="administrativo">
                    <li>
                        <a th:href="@{/cargos/cadastrar}"> <i class="oi oi-plus"></i> Cadastro de Cargos</a>
                    </li>
                    <li>
                        <a th:href="@{/departamentos/cadastrar}"> <i class="oi oi-plus"></i> Cadastro de Departamento</a>
                    </li>
                    <li>
                        <a th:href="@{/colaboradores/cadastrar}"><i class="oi oi-plus"></i> Cadastro de Colaboradores</a>
                    </li>
                    <li>
                        <a href="#">Cadastro de Cliente</a>
                    </li>
                </ul>
            </li>          
			</ul>
			<ul class="nav nav-pills">
			<li class="active col-md-7">
                <a href="#comercial" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link active">Comercial</a>
                <ul class="collapse list-unstyled" id="comercial">
                    <li>
                        <a href="#">Orçamento</a>
                    </li>
                    <li>
                        <a href="#">Ordem de Serviços</a>
                    </li>
                </ul>
            </li>          
			</ul>
				<ul class="nav nav-pills ">
			<li class="active active col-md-7">
                <a href="#engenharia" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link active">Engenharia</a>
                <ul class="collapse list-unstyled" id="engenharia">
                    <li>
                        <a href="#">Desenhos Equipamentos</a>
                    </li>
                    <li>
                        <a href="#">Desenhos de Interligação</a>
                    </li>
                    <li>
                        <a href="#">Documentos</a>
                    </li>
                     <li>
                        <a href="#">Remessa</a>
                    </li>
                </ul>
            </li>          
			</ul>
				<ul class="nav nav-pills ">
			<li class="active active col-md-7">
                <a href="#configuracao" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link active">Configuração</a>
                <ul class="collapse list-unstyled" id="configuracao">
                    <li>
                        <a href="#">Administrador</a>
                    </li>
                    <li>
                        <a href="#">Usuário</a>
                    </li>
                    <li>
                        <a href="#">Grupo</a>
                    </li>
                </ul>
            </li>          
			</ul>
			<ul class="nav nav-pills ">
			<li class="active active col-md-7">
                <a href="#sair" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link active">Sair</a>
                <ul class="collapse list-unstyled" id="sair">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>          
			</ul>
	
			
		</nav>
	
</body>
</html>